body{
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: #242736;
  color: white;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 20px;
  margin: 0;
}

header h1 a{
  text-decoration: none;
  color: white;
}

header h1 a:hover{
  color: #5b5b5b;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li{
  margin-right: 20px;
}

nav ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover{
  color: blue;
}

.faq-container {
  width: 80%;
  margin: 0 auto 40px;
  max-width: 800px;
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.faq-item {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
  overflow: hidden;
}

.faq-question {
  display: block;
  padding: 15px;
  font-size: 1.1em;
  font-weight: bold;
  background: #ecf0f1;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s;
}

.faq-question:hover {
  background: #bdc3c7;
}

.faq-answer {
  padding: 15px;
  font-size: 1em;
  display: none;
  background: white;
}

.faq-toggle {
  display: none;
}

.faq-toggle:checked + .faq-question + .faq-answer {
  display: block;
}


.contact-container {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.contact-form {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #34495e;
}


footer {
    background-color: #242736;
    text-align: center;
    padding: 20px;
    color: white;
  }